extends layout

block content
  - const head = {"display": "inline-block","margin-left": "5%"}
  - const divs = {"display": "inline-block","margin-left": "2.5%"}
  header.w3-light-grey.w3-card.w3-inter(style = "width : 100%; position: sticky; top: 0; z-index:9999")
    a.w3-text-deep-orange(href="/")
      img(src="/images/logo1.2.png" width="15%" height="auto" style = head)
    h4.w3-inter(style=divs)
      a(href="/prod" style="text-decoration:none")  Products
    h4.w3-inter(style=divs)
      a(href="/contacts" style="text-decoration:none") Contacts
    h4.w3-inter(style=divs)
      a(href="/contacts" style="text-decoration:none") Perfil
    - const btn1 = {"display": "inline-block","margin-right": "5%", "margin-top": "2.4%"}
    a(href="/logout" class="w3-center-text w3-button w3-deep-orange w3-border  w3-border-deep-orange w3-round-xxlarge w3-right w3-hover-light-grey w3-hover-text-deep-orange w3-text-light-grey" style=btn1) Log out
  .w3-row.w3-inter
    .w3-col(style = "width:12.5%")
        .w3-container.w3-deep-orange.w3-text-black
            .w3-margin
                .w3-center
                    img(src="/images/perfil.png" style="width: 50%")
                    h4 
                        b #{perfil.name}
                    each wishlist in perfil.wishlist
                      img(src=wishlist.imagem) 
   
    .w3-col(style = "width:75%")
      p
    .w3-col(style = "width:12.5%")
      p 
  .w3-padding
  include footer.pug