extends layout

block content
  - const head = {"display": "inline-block", "margin-left": "25px"}
  header.w3-light-grey.w3-card(style="width: 100%; position: sticky; top: 0; z-index: 9999")
    img(src="/images/logo1.2.png", width="250", height="auto", style=head)
    h4(style=head)
      a(href="/") Home
    h4(style=head)
      a(href="/prod") Products
    h4(style=head)
      a.w3-text-deep-orange(href="/contacts") Contacts
    - const btn1 = {"display": "inline-block", "margin-top": "30px", "margin-bottom": "10px", "margin-right": "80px", "margin-left": "10px"}
    a(href="/login", class="w3-center-text w3-button w3-deep-orange w3-border w3-border-deep-orange w3-round-xxlarge w3-right w3-hover-light-grey w3-hover-text-deep-orange w3-text-light-grey", style=btn1) Log in

  .w3-row
    .w3-col(style="width: 12.5%")
      p

    .w3-col(style="width: 75%")
      .w3-card
        .w3-row-padding
          - const products = [{ name: "Product 1", image: "/images/loja.jpeg", description: "Description of Product 1", price: 50.1, marca: "Robenta" }] 
          each product in products
            .w3-quarter
              .w3-margin
                .product-container
                  img(src=product.image, style="width: 100%")
                  .product-overlay
                    h4.product-name #{product.name}
                    p.product-description #{product.description}
                    p.product-price #{product.price}

    .w3-col(style="width: 12.5%")
      p

  include footer.pug
